.image-opener-container {
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  margin-left: 97%;
}

.toggle-button {
  position: absolute;
  border-radius: 90px;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  z-index: 4;
}

.example-image {
  position: absolute;
  margin-top: 45px;
  margin-left: -235px;
  max-width: 100%;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 12px;
  padding: 5px;
  z-index: 3;
  background-color: transparent;
  border-color: transparent;
  width: 300px;
}

.example-link {
  position: absolute;
  display: block;
  margin-top: 55px;
  margin-left: -145px;
  font-size: 18px;
  color: #007BFF;
  text-decoration: none;
  z-index: 4;
}

.example-link:hover {
  text-decoration: underline;
}
