.ch-type {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    text-decoration: none;
}

h1 {
    font-size: 4em;
    opacity: 1;
}

h2 {
    font-size: 2em;
    opacity: 1;
}

h3 {
    font-size: 1.75em;
    opacity: 1;
}

h4 {
    font-size: 1.5em;
    opacity: 1;
}

h5 {
    font-size: 1em;
    opacity: 1;
}

h6 {
    font-size: 0.7em;
    opacity: 1;
}

p {
    font-size: 0.9em;
    opacity: 1;
}

.bold {
    font-weight: 700;
}

.italics {
    font-weight: 700;
}

.underline {
    text-decoration: underline;
}
