/* .HomePage {
    color: white;
} */

/* .AboutUsPage {
    position: relative;
    align-items: center;
    text-align: center;
}

.AboutUsTitle {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .Title {
    margin-bottom: 0px; /* Add some spacing between the title and the subtitle
  }

  .information {
    max-width: 1200px;
    text-align: center;
  }  */
  
  .AboutUsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  padding-top: 100px;
  position: relative;
}

.AboutUsTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.Title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Add some spacing between the title and the subtitle */
}

.informationBox {
  background-color: #f0f0f0; /* Background color of the box */
  padding: 20px; /* Padding inside the box */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); 
  max-width: 1200px; /* Adjust the max-width as needed */
  width: 100%; /* Ensure the box takes full width */
  margin-top: 20px; /* Margin top to separate from the title */
}

.information {
  max-width: 1200px; /* Ensure the container is not too wide */
  text-align: justify;
  margin: 0 auto; /* Center the container horizontally */
  margin-top: 20px; /* Add some spacing between the subtitle and the information text */
}

.information p {
    font-size: 20px;
}

.numbers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh; /* Adjust as needed */
}

.bigbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px; /* Adjust as needed */
  height: 250px; /* Adjust as needed */
  margin: 10px;
  color: white;
  font-size: 2em;
  border-radius: 12px;
}

.littlebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  margin: 10px;
  color: white;
  font-size: 20px;
  border-radius: 12px;
}

.labelText {
    margin-bottom: 10px;
}

.participants {
  background-color: #07c9f8;
}

.LOC {
  background-color: #30cfa6;
}

.money {
  background-color: #edac3c;
}

.CompSci {
    background-color: #eec211;
}

.SoftwareEng {
    background-color: #e0441f;
}

.Math {
    background-color: #f23b3d;
}

.CompEng {
    background-color: #a8bd1b;
}

.ElectricalEng {
    background-color: #35ab43;
}

.DataSci {
    background-color: #d14e75;
}

.MechEng {
    background-color: #D7282B;
}

.Cybersecurity {
    background-color: #6c3ac5;
}

.Sociology {
    background-color: #57a863;
}

.Psychology {
    background-color: #eb98e9;
}

.HealthSci {
    background-color: #1ac2ae;
}

.ChemEng {
    background-color: rgb(236, 157, 120);
}

.Economics {
    background-color: #5175eb;
}

.IT {
    background-color: #a9aeac;
}