/* App.css */
.sponsor-container {
  display: flex;
  flex-direction: column; /* Align children (sponsor groups) vertically */
  justify-content: center;
  align-items: center;
  gap: 40px; /* Space between the sponsor groups */
  height: 80vh; /* Full height of the viewport */
}

.GoldSponsor,
.BronzeSponsor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px; /* Space between images */
}

.imageGold {
  max-width: 500px; /* Adjust the size as needed */
  height: auto;
}

.imageBronze {
  max-width: 200px; /* Adjust the size as needed */
  height: auto;
}

.color-box {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gold {
  background-color: gold;
  border-color: gold;
}

.bronze {
  background-color: #CD7F32;
  border-color: #CD7F32;
}