.carouselContainerSponsor {
    justify-content: center;
    align-items: center;
    height: 600px; /* Set the height as needed to maintain proportions */
    margin: 50px auto; /* Adjust top margin to move the carousel down */
    max-width: 1000px; /* Optionally set a max-width for the container */
    padding: 5px;
    margin-bottom: 100px;
   }
  
  .carouselContainer .carousel {
    max-width: 100%; /* Ensure the carousel fits its container */
    max-height: 100%; /* Ensure the carousel fits its container */
    margin-top: 200px;
  }
  
  .carouselImage {
    width: 100%; /* Ensure the image fills its container */
    height: 100%; /* Ensure the image fills its container */
    overflow: hidden; /* Ensure the image does not overflow its container */
    border-radius: 12px;
  }
  
  .carouselImage img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    border-radius: 12px;
  }

.titleText {
    font-size: 80px;
    color: black;
    text-align: center;
    margin: 40px;
}