.sponsor-hero-text {
    width: 100%;
    margin: 1em 4em;
}

.ch-button-link {
    text-decoration: none;
    position: absolute;
}

.ch-button {
    margin: 0;
    position: relative;
    width: 160px;
    border: 2px white solid;
    border-radius: 1em;
    padding: 10px;
}

.arrow-positioning {
    position: absolute;
    display: flex;
    top: calc(100vh - 70px);
    right: 6em;
    justify-content: center;
    align-items: center;
}
