.ch-card-image {
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  justify-content: end;
}

.ch-card {
  flex: 1 1 0;
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  overflow: hidden;
  height: auto;
  height: 150px;
}
