.GoogleForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust height as needed */
  margin-top: 225px;
  margin-bottom: 250px;
}

.GoogleForm iframe {
  border: none; 
}

.currentOrganizerSection {
    background-color: rgba(119, 235, 255, 0.5);
}