/* App.css

/* .App {
  text-align: center;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
} */


/*.vid {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black; 
}

.holder {
  height: 10000px; 
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

/* main {
  padding: 20px;
} */

/* App.css */

/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.vid {
  height: 3000px; 
}

.holder {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh; 
}

video {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  height: 3000px; 
  background: linear-gradient(to bottom, #f8f9fa, #e9ecef); 
  color: black;
  padding: 20px;
} */

/* App.css */

.App {
  text-align: center;
}

.App-header {
  background-color: #f0f0f0;
  /* min-height: 10vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f0f0f0;
  /* top: 100px; */
}

.PastProjectsTitle {
  position: absolute;
  top: 350px;
  left: 350px;
  font-size: 100px;
  text-align: center;
  color: black;
  align-items: center;
  /* transform: rotate(-90deg);
  display: inline-block; */
  z-index: 3;
}

.holder {
  margin-top: 120px;
}

/* .vid {
  height: 3000px;
} */

.turn {
  position: absolute;
  top: 500px;
  left: -200px;
  font-size: 100px;
  text-align: center;
  color: black;
  align-items: center;
  transform: rotate(-90deg);
  display: inline-block;
  z-index: 3;
}

.logo {
  width: 60px;
  height: 60px;
}

video {
  width: 85%;
  height: 100%;
  object-fit: none;
  z-index: 1;
  margin-top: -150px;
  margin-left: 500px;
}

/* .content {
  height: 3000px; 
  color: black;
} */
.backLink {
  position: absolute;
  top: 150px;
  left: 50%;
  object-fit: cover;
  z-index: 2;
  background-color: #a9d5f0;
  border: rgb(224, 224, 224);
  border-radius: 12px;
  font-weight: bold;
}

.backLink:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: rgba(169, 213, 240, 0.25);
  color: rgba(0, 0, 0, 0.25);
}

.firstTextLink {
  position: absolute;
  top: 150px;
  left: 1230px;
  object-fit: cover;
  z-index: 2;
  background-color: transparent;
  border: transparent;
  border-radius: 12px;
  width: 380px;
}

.firstTextLink:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #f9f345;
}

.secondTextLink {
  background-color: transparent;
  border-color: transparent;
  border-radius: 12px;
  position: absolute;
  top: 235px;
  left: 1230px;
  object-fit: cover;
  z-index: 2;
  width: 380px;
}

.secondTextLink:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #efce55;
}

.thirdTextLink {
  background-color: transparent;
  border-color: transparent;
  border-radius: 12px;
  position: absolute;
  top: 320px;
  left: 1230px;
  object-fit: cover;
  z-index: 2;
  width: 380px;
}

.thirdTextLink:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #d0c179;
}

.fourthTextLink {
  background-color: transparent;
  border-color: transparent;
  border-radius: 12px;
  position: absolute;
  top: 405px;
  left: 1220px;
  object-fit: cover;
  z-index: 2;
  width: 420px;
}

.fourthTextLink:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #80c669;
}

.fifthTextLink {
  background-color: transparent;
  border-color: transparent;
  border-radius: 12px;
  position: absolute;
  top: 490px;
  left: 1230px;
  object-fit: cover;
  z-index: 2;
  width: 380px;
}

.fifthTextLink:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #4ebf99;
}

.sixthTextLink {
  background-color: transparent;
  border-color: transparent;
  border-radius: 12px;
  position: absolute;
  top: 575px;
  left: 1230px;
  object-fit: cover;
  z-index: 2;
  width: 380px;
}

.sixthTextLink:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #1ca9b5;
}

.video {
  /* width: 100%;
  height: auto; */
  transition: opacity 4s ease-out;
}

.fade-out {
  opacity: 0;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #333;
  opacity: 1;
  transition: opacity 2s ease-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.elementTitle {
  display: flex;
  align-items: center;
  text-align: center;
}

/* .elementStyle {
 height: 100vh; 
} */

.first {
  background-color: rgba(249, 243, 69, 0.5);
}

.second {
  background-color: rgba(239, 206, 85, 0.5);
}

.third {
  background-color: rgba(208, 193, 121, 0.5);
}

.fourth {
  background-color: rgba(128, 198, 105, 0.5);
}

.fifth {
  background-color: rgba(78, 191, 153, 0.5);
}

.sixth {
  background-color: rgba(28, 169, 181, 0.5);
}

/* .elementContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
}

.column {
  flex: 1;
  padding: 50px;
}

.separateColumn {
  align-items: left;
  text-align: left;
  flex: 2;
} */

.element {
  min-height: 200vh;
  background: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.elementContent {
  width: 100%;
  margin: 20px 0;
}

.headers .column {
  flex: 1;
  text-align: center;
}

.content .column {
  flex: 1;
  padding: 20px;
}

.details {
  text-align: center;
}

.separateColumns {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; /* Add some space between the columns */
}

.leftColumn,
.middleColumn,
.rightColumn,
.farRightColumn {
  flex: 1;
}

.header {
  border-radius: 10px; /* Add border-radius to headers */
  background-color: #fff; /* Example background color */
  padding: 10px;
  margin: 5px;
}

.image {
  border-radius: 50%; /* Circular border-radius for images */
}

.projectLink {
  text-decoration: none;
  color: blue;
}

.projectLink:hover {
  text-decoration: underline;
}